@{
    ViewData["Title"] = "Home Page";
}
@model List<Flower>

<div class="container">
    <h2>Çiçekler</h2>
    <div class="row">

        @foreach (var fr in Model)
        {
            <div style="border:1px solid #ccc;padding:10px;margin:10px">
                <img src="@fr.ImageUrl" width="250" />
                <h3>@fr.Name</h3>
                <p>@fr.Description</p>
                <strong> @fr.Price.ToString("C")</strong>
                <form asp-action="AddToCart" method="post">
                    <input type="hidden" name="id" value="@fr.Id" />
                    <button type="submit" class="btn btn-info">Sepete Ekle</button>
                </form>
            </div>
        }

    </div>

</div>